*{
    text-decoration: none;
    color: rgb(207, 207, 207);
    font-family: 'Changa', sans-serif;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: rgb(73, 94, 109);
}

#header {
    height: 10%;
    background-color: rgb(48, 63, 73);
}

.top-container {
    background-color: rgb(30, 42, 49);
}

.logo-container {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 50px;
}


.logo-img {
    width: 90px;
}

.main-nav {
    background-color: rgb(48, 63, 73);
    padding: 10px;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-menu {
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: black;
}

.nav-menu-item {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 80px;
    border-bottom: 6px solid transparent;
}

.nav-menu-item:hover {
    transition: border-bottom 0.3s;
    border-bottom: 6px solid rgb(76, 187, 113);
}

#main-content {
    width: 60%;
    margin: 0 auto;
}







/****
CSS FOR SELECT2 STUFF AND FORMS
*/





/******CSS FOR LOGIN */
#login-form {
    margin: 0 auto;
    width: 40%;
}


/**** 
CSS FOR MAIN HOMEPAGE ************************************
****/

.counter-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.counter-item {
    margin-left: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(39, 50, 58);
    background-color: rgb(45, 70, 88);
    box-shadow: 5px 5px 6px rgb(60, 76, 88);
    text-align: center;
    padding: 20px;
}

.counter-item h1 {
    font-size: 30px;
}


.companies-banner-container {
    display: grid;
    grid-template-columns: 25% 30% 26% 10% 7%;
    padding-left: 20px;
}





.application-container {
    width: 98%;
    margin: 0 auto;
}

.add-application-section {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100px;
}

.application-item {
    font-size: 18px;
    height: 70px;
    display: grid;
    grid-template-columns: 25% 30% 26% 6% 6%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
}


.application-item-company-container {
    padding: 10px;
}



.application-ipt-applied {
    width: 80%;
    background-color:rgb(39, 54, 49);
    border-radius: 5px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 1px;
}

.application-ipt-rejected {
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 1px;
    background-color: rgb(163, 72, 72);
}

.application-ipt-oa {
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 1px;
    background-color: rgb(137, 172, 73);
}

.application-ipt-1st {
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 1px;
    background-color: rgb(43, 82, 55);
}

.application-ipt-2nd {
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 1px;
    background-color: rgb(55, 105, 70);
}

.application-ipt-3rd {
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 1px;
    background-color: rgb(51, 97, 65);
}

.application-ipt-4th {
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 1px;
    background-color: rgb(68, 129, 86);
}

.application-ipt-offer {
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 1px;
    background-color: rgb(50, 155, 81);
}



.application-item-part-container-name {
    padding-top: 6px;
}

.application-item-company-container-image {
    float: left;
}

.application-item-company-container-name {
    text-decoration: none;
    color: black !important;
    float: left;
    padding-top: 6px;
    padding-left: 15px;
}








/********
CSS FOR COMPANY DETAILs
******/


.company-reviews {
    width: 98%;
}

.company-review-item {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
}

.company-review-item-top {
    display: grid;
    grid-template-columns: 10% 10% 30% 30%;
    border-bottom: 1px gray;
}

.company-review-item-bottom {
    display: grid;
    grid-template-columns: 70% 30%;
}
.company-review-item-item {
    padding: 15px;
}

.tiny-prof-img {
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}


/********
CSS FOR APPLICATION FORM
********/

#id_company {
    width: 50%;
}

.form-container {
    margin: 0 auto;
    text-align: center;
}



/***
 * 
 * CSS FOR PROFILE EDIT PAGE
 * */

.profile-image-container {
    margin: 0 auto;
    width: 100px;

}

.profile-image-lg {
    width: 100%;
    background-color: white;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
}















