{% extends "account/base.html" %}
{% block title %}Add application{% endblock %}
{% block content %}

    {{ form.media.css }}
    <div class="form-container">
        <h1>Add job application</h1>
        <p>Add an application to a specific company to your list of applications.</p>
        <form method="POST">
            {% csrf_token %}
    
            <label for="id_company" class="form-label">Company</label>
            <p class="companyform-p">{{ form.company }}</p>
    
            <label for="id_stage" class="form-label">Stage of application</label>
            <p>{{ form.stage }}</p>
    
            <label for="id_date_applied" class="form-label">Date applied</label>
            <p>{{ form.date_applied }}</p>
            <button class="btn btn-md btn-success btn-block" type="submit" style="width: 30%; margin: 0 auto;">Add application</button>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ form.media.js }}
    
    
    
        
    </div>
    


{% endblock %}