{% extends "account/base.html" %}
{% block title %}Edit profile{% endblock %}
{% block content %}
    <h1 style="text-align: center;">Edit profile</h1>
    <p style="text-align: center;">Change any settings in your profile.</p>

    <div class="profile-image-container">
        <image class="profile-image-lg" src="{{ user.profile.photo.url }}"></image>
    </div>


    <h2 style="text-align: center;">{{user.username}}</h2>
    <p style="text-align: center;">{{user.email}}</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="width: 50%; margin: 0 auto;">
            <div class="mb-3">
                <label for="id_email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" placeholder="Enter email address..." value="{{user.email}}">
            </div>

            <div class="mb-3">
                <label for="id_photo" class="form-label">Upload photo</label>
                <input class="form-control" type="file" name="photo">
            </div>
            <button class="btn btn-md btn-success btn-block" type="submit">Save changes</button>
        </div>
    </form>
{% endblock %}